.body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "HackGen Console", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;

  color: #f6f6f6;
  background-color: #2f2f2fbb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
